.game {
  background-image: url("../Illustrations-game/Batgame_1.png");
  background-repeat: no-repeat;
  color: #fff;
  background-color: black;
  line-height: 1.5;
}

.section1_game {
  margin: 0 5em 0em 7em;
  padding: 1em 5em 8em 0em;
  text-transform: uppercase;
}
